
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href=""> -->

    <title>ML</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/vender/jumbotron.css" rel="stylesheet">
    <link href="/static/custom/ml.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <!-- <img alt="Brand" src="/static/custom/favicon.png"> -->
            MACHINE LEARNING DEMO
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Advance Services</b> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">LIU Tao (Singtel RE)</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <main role="main">

      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Network Traffic Classification with Machine Learning</h1>
          <p>Demo Agenda:</p>
          <ul>
            <li>Data Mining and Features Engineering</li>
            <li>Unsupervised Learning for Analysis</li>
            <li>Supervised Learning for Predict</li>
          </ul>
          <p>The end goal is to predict HTTPs traffic category via network packets IP and TCP field, and send a flow report to admin</p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Train</h3>
              </div>
              <div class="panel-body">
                <p>Data X File (Put csv file under dataset directory and input with the path):</p>
                <div class="input-group">
                  <input id="data_x_url" type="text" class="form-control" placeholder="File server url. e.g. '/folder/file.csv'" value="/datasets/final_dataset_0320x.csv" >
                  <span class="input-group-btn">
                    <button id="data_x_preview" class="btn btn-default" type="button">Preview</button>
                  </span>
                </div>
                <div id="div_x_tb" style="overflow: auto;">
                </div>

                <br>

                <p>Label Y File (Put csv file under dataset directory and input with the path):</p>
                <div class="input-group">
                  <input id="target_y_url" type="text" class="form-control" placeholder="File server url. e.g. '/folder/file.csv'" value="/datasets/final_dataset_0320.csv">
                  <span class="input-group-btn">
                    <button id="target_y_preview" class="btn btn-default" type="button">Preview</button>
                  </span>
                </div>
                <div id="div_y_tb" style="overflow: auto;">
                </div>
                <br>

                <div class="form-group">
                  <button id="btn_train" type="submit" class="btn btn-primary pull-right" >Train Data</button>
                </div>
                <br>

                <div>
                  <p>Training result:</p>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon">Score with Accuracy</span>
                      <input id="result_coef" type="text" class="form-control disabled" disabled/>
                    </div>
                	</div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- Predict section -->
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Predict</h3>
              </div>
              <div class="panel-body">
                <p>Input features (Seperated by ',' without 'space' in between features): </p>
                <div class="form-group">
              		<div class="input-group">
                    <span class="input-group-addon">Features</span>
                  	<input id="text_features" type="text" class="form-control" placeholder='e.g. price,size' value="2018,14,2,8,2.6,4,15,1,1,32,2,32,300,1,2,16,1,1,1,64" />
              		</div>
              	</div>

                <div class="form-group">
                  <button id="btn_predict" type="submit" class="btn btn-success pull-right" >Predict Start</button>
                </div>

                <br>

                <div>
                  <p>Prediction result:</p>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon">The Website you are accessing is</span>
                      <input id="rmse" type="text" class="form-control disabled" disabled/>
                    </div>
                	</div>
                </div>

              </div>
            </div>
          </div>
        </div>


      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>Juniper Networks Advance Service</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/vender/popper.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/custom/ml.js"></script>
  </body>
</html>
